# STM32CubeIDE
.metadata/
Debug/
Release/
*.launch

# Сборка и объектные файлы
*.o
*.d
*.lst
*.map
*.elf
*.hex
*.bin
*.exe

# Временные файлы
*.swp
*.swo
*~

# Настройки пользователя (не должны отличаться у разных разработчиков)
.cproject
.project
.settings/*
.launch